networks:
  proxy_default:
    external: true

services:
  jobbinger:
    restart: always
    extends:
      file: docker-compose-server.yml
      service: jobbinger

    networks:
      - proxy_default

    volumes:
      - .:/app
      - ./data:/app/data

    command: 'npm start'
    environment:
      - ENV=production
      - SERVER_PORT=${SERVER_PORT}

      # for the jwilder nginx reverse proxy with dockergen
      - VIRTUAL_HOST=${PROD_VIRTUAL_HOST}
      - VIRTUAL_PORT=${SERVER_PORT}
      - LETSENCRYPT_HOST=${PROD_LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${PROD_LETSENCRYPT_EMAIL}