.detail {
    position: fixed;
    right: 10px;
    top: 120px;
    width: calc(50vw - 40px);
    height: calc(100vh - 100px);
    overflow-y: auto;

    a {
        background-color: var(--color-primary);
        color: white;
        padding: 3px 20px 3px 10px;
        border-radius: 3px;
        text-decoration: none;
        position: relative;
        display: inline-block;
        margin: 0 0 -6px 0;
        font-size: 12px;

        &:after {
            content: "◥";
            color: white;
            position: absolute;
            top: 2px;
            right: 5px;
        }
    }

    .email {
        background-color: var(--color-secondary);
        color: white;
        border-radius: 3px;
        padding: 3px 20px 3px 10px;
        font-size: 12px;
        position: relative;

        &:after {
            content: "✉";
            color: white;
            position: absolute;
            top: 2px;
            right: 5px;
        }
    }

    .job-titles {
        margin: 0;
        padding: 0;

        .job-title {
            display: inline-block;
            margin: 0;
            list-style: none;
            padding: 2px 10px;
            background-color: #ddd;
            border-radius: 4px;
            font-size: 12px;
            margin-right: 5px;
        }
    }

    .links {
        a {
            margin: 5px 5px 0 0;
        }
    }

    .emails {
        button {
            margin: 5px 5px 0 0;
        }
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ddd;
        width: 50px;

        * {

            text-align: center;
            display: block;
        }

        .day {
            font-size: 20px;
            background: black;
            color: white;
            font-weight: 900;
        }

        .month {
            text-transform: uppercase;
            background-color: black;
            color: white;
            font-size: 16px;
            font-weight: 900;
            padding-bottom: 5px;
        }

        .year {
            padding: 5px 0;
        }
    }


    .description {
        border-top: 1px solid #ddd;
        padding-top: 20px;
        margin-top: 20px;
        font-size: 14px;
    }

    h2 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    pre {
        padding: 10px;
    }

    details {
        margin-top: 10px;
    }
}