.jobnames-filter {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(50vh - 150px);
    overflow-y: scroll;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--light-border-color);
    font-size: 12px;

    button {
        margin: 0 0 5px 0;
        padding: 3px 10px;
        border: 1px solid var(--light-bg);
        background-color: var(--light-bg);
        color: var(--text-color);
        font-size: 11px;
        font-weight: 600;
        display: block;
        text-align: left;

        &:nth-child(1) {
            font-weight: bold;
        }

        &:hover {
            background-color: var(--color-primary);
            color: white;
            border-color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-secondary);
            color: white;
        }
    }
}