.jobnames-filter {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 315px;
    overflow-y: scroll;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ddd;

    button {
        margin: 0 0 5px 0 ;
        padding: 3px 10px;
        border: 1px solid #eee;
        background-color: #eee;
        color: #555;
        font-size: 11px;
        font-weight: 600;
        display: block;
        text-align: left;

        &:nth-child(1) {
            font-weight: bold;
        }

        &:hover {
            background-color: var(--color-primary);
            color: white;
            border-color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-secondary);
            color: white;
        }
    }
}