.jobnames-filter {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(50vh - 150px);
    overflow-y: scroll;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--light-border-color);
    font-size: 12px;


    button {
        margin: 0 0 5px 0;
        padding: 3px 10px;
        border: 1px solid var(--light-bg);
        background-color: var(--light-bg);
        color: var(--text-color);
        font-size: 11px;
        font-weight: 600;
        display: block;
        text-align: left;

        &:nth-child(1) {
            font-weight: bold;
        }

        &:hover {
            background-color: var(--color-primary);
            color: white;
            border-color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-secondary);
            color: white;
        }
    }

    .label-row {
        display: block;
        border: 1px solid var(--light-border-color);
        padding: 2px 2px 2px 2px;
        margin-bottom: 20px;
        font-size: 14px;
        border-radius: 6px;
        position: relative;
        min-height: 22px;
        min-width: 42px;

        strong {
            margin: 0 10px;
            padding-right: 40px;
            display: inline-block;
            line-height: 22px;
            font-weight: 700;
        }

        button {
            min-width: 30px;
            position: absolute;
            top: 2px;
            right: 2px;
            display: inline-block;
            margin: 0;
            float: right;
            height: calc(100% - 4px);
        }
    }
}