.listing-filter {
    text-align: center;
    width: 20vw;
    display: block;
    padding: 20px 0;

    button {
        display: inline-block;
        position: relative;

        &:nth-child(1), &:nth-child(2) {
            font-size: 20px;
            line-height: 34px;
            padding: 0 10px;
        }

        &.included {
            background-color: var(--color-secondary);
        }

        &.excluded {

            &:after {
                transform-origin: center;
                position: absolute;
                content: "";
                width: 47px;
                height: 2px;
                top: 16px;
                left: -5px;
                overflow: hidden;
                background-color: white;
                transform: rotate(45deg);

            }
        }
    }
}