.list {
    .card {
        border: 1px solid var(--light-border-color);
        border-radius: 8px;
        margin: 8px 5px;
        cursor: pointer;
        transition: all 0.15s;
        padding: 10px 80px 10px 10px;
        position: relative;

        &:hover {
            background: var(--light-bg);

            .search {
                background-color: #666;
                border-color: var(--color-primary);
                color: white;
            }

            .actions {
                button {
                    transition: all 0.1s ease-in-out;
                    opacity: 1;
                }
            }


        }

        &.selected {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
            color: white;

            .meta, .date {
                color: white;
            }
        }

        &.liked {
            border-color: var(--color-primary);

            button.like {
                transition: all 0.1s ease-in-out;
                transform: scale(1.5);
                transform-origin: top right;
                color: var(--color-primary);
                background-color: #ddd;
                border-top: none;
                opacity: 1;
            }
        }

        &.ignored {
            button.ignore {
                transition: all 0.1s ease-in-out;
                transform: scale(1.5);
                transform-origin: top right;
                background-color: #e2f107;
                color: #333;
                border-top: none;
                opacity: 1;
            }
        }

        .date {
            font-size: 12px;
            color: var(--text-light-color);
        }

        .meta {
            font-size: 12px;
            color: var(--text-light-color);
        }

        .searches {
            text-align: right;
            margin-top:-16px;
            margin-right: -70px;

            .search {
                display: inline-block;
                font-size: 10px;
                background-color: var(--light-med-bg);
                border-radius: 5px;
                padding: 2px 10px;
                color: #999;
                margin-left: 5px;
                margin-bottom: 0;
            }
        }


        .actions {
            position: absolute;
            top: 0;
            right: 10px;

            button {
                margin-left: 20px;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                width: 24px;
                height: 24px;
                padding: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                opacity: 0.2;
            }
        }
    }
}