.modal {
    .search-dataset {
        border-bottom: 1px solid var(--light-border-color);
        padding: 10px 0;
        position: relative;

        input {
            &:nth-child(1), &:nth-child(2) {
                width: 15%;
            }

            &:nth-child(3), &:nth-child(4) {
                width: 10%;
                text-align: center;
            }
        }
    }
}