@import 'variables.css';

body {
    font-family: var(--font-family);
    color: #111;
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


header {
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #bbb;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 100px;

    h1 {
        color: black;
        padding: 0 20px;
        margin: 10px 0 0 0;
        text-transform: uppercase;
        font-size: 22px;
    }

    .search-input {
        padding: 10px 0;
        margin: auto;
        width: 30vw;

        input {
            padding: 8px;
            border: 1px solid #bbb;
            border-radius: 6px;
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}

.searches-filter {
    background-color: #eee;
    padding: 10px 0 5px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    border-bottom: 3px solid var(--color-primary);
    transform: translateY(-50px);
    transition: all 0.1s ease-in-out;
    text-align: center;

    &.open {
        transform: translateY(0);
        transition: all 0.1s ease-in-out;
    }

    button {
        padding: 3px 10px;
        margin-right: 5px;
        margin-bottom: 5px;

        &.selected {
            background-color: var(--color-secondary);
        }
    }
}

.page {
    padding-top: 120px;
    display: flex;

    .list {
        width: 50vw;

        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 8px 5px;
            cursor: pointer;
            transition: all 0.15s;
            padding: 10px 120px 10px 10px;
            position: relative;

            &:hover {
                background: #f9f9f9;

                .search {
                    background-color: #666;
                    border-color: var(--color-primary);
                    color: white;
                }

                .actions {
                    button {
                        transition: all 0.1s ease-in-out;
                        opacity: 1;
                    }
                }


            }

            &.selected {
                background-color: var(--color-primary);
                color: white;

                .meta, .date {
                    color: white;
                }
            }

            &.liked {
                border-color: var(--color-primary);

                button.like {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.5);
                    transform-origin: top right;
                    color: var(--color-primary);
                    background-color: #ddd;
                    border-top: none;
                    opacity: 1;
                }
            }

            &.ignored {
                button.ignore {
                    transition: all 0.1s ease-in-out;
                    transform: scale(1.5);
                    transform-origin: top right;
                    background-color: #e2f107;
                    color: #333;
                    border-top: none;
                    opacity: 1;
                }
            }

            .date {
                font-size: 12px;
                color: #555;
            }

            .meta {
                font-size: 12px;
                color: #555;
            }

            .search {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 10px;
                background-color: #eeeeee;
                border-radius: 5px;
                padding: 2px 10px;
                color: #999;
            }

            .actions {
                position: absolute;
                top: 0;
                right: 10px;

                button {
                    margin-left: 20px;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: center;
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    opacity: 0.2;
                }
            }
        }
    }

    .detail {
        position: fixed;
        right: 10px;
        top: 120px;
        width: calc(50vw - 40px);
        height: calc(100vh - 100px);
        overflow-y: auto;

        .job-titles {
            margin: 0;
            padding: 0;

            .job-title {
                display: inline-block;
                margin: 0;
                list-style: none;
                padding: 2px 10px;
                background-color: #ddd;
                border-radius: 4px;
                font-size: 12px;
                margin-right: 5px;
            }
        }

        .date {
            position: absolute;
            right: 0;
            top: 0;
            background-color: #ddd;
            width: 50px;

            * {

                text-align: center;
                display: block;
            }

            .day {
                font-size: 20px;
                background: black;
                color: white;
                font-weight: 900;
            }

            .month {
                text-transform: uppercase;
                background-color: black;
                color: white;
                font-size: 16px;
                font-weight: 900;
                padding-bottom: 5px;
            }

            .year {
                padding: 5px 0;
            }
        }


        .description {
            border-top: 1px solid #ddd;
            padding-top: 20px;
            margin-top: 20px;
            font-size: 12px;
        }

        h2 {
            padding: 0;
            margin: 0;
            font-size: 20px;
        }

        pre {
            padding: 10px;
        }
    }
}

#modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    h2 {
        font-size: 20px;
        margin-top: 0;
    }
}

#modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 900px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 2000;
    position: relative;
}

.searches-actions {
    position: absolute;
    right: 10px;
    z-index: 1000;
    top: 10px;
}

#open-modal {

}

#close-modal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: #999;
}

.listing-filter {
    position: absolute;
    top: 10px;
    left: 10px;

    button {
        display: inline-block;
        position: relative;

        &:nth-child(2), &:nth-child(3) {
            font-size: 20px;
            line-height: 34px;
            padding: 0 10px;
            transform: translateY(3px);
        }

        &.included {
            background-color: var(--color-secondary);
        }

        &.excluded {

            &:after {
                transform-origin: center;
                position: absolute;
                content: "";
                width: 47px;
                height: 2px;
                top: 16px;
                left: -5px;
                overflow: hidden;
                background-color: white;
                transform: rotate(45deg);

            }
        }
    }
}


.search-dataset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;

    input {
        display: inline-block;
        margin: 0;
        padding: 6px;
        font-family: var(--font-family);

        &:nth-child(1), &:nth-child(2) {
            width: 20%;
        }

        &:nth-child(3), &:nth-child(4) {
            width: 5%;
            text-align: center;
        }
    }

    .search-actions {
        display: inline-block;
        position: absolute;
        right: 10px;

        button {
            background: var(--color-primary);
            border: none;
            font-family: var(--font-family);
            border-radius: 3px;
            cursor: pointer;
            color: white;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

button {
    background: var(--color-primary);
    border: none;
    font-family: var(--font-family);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 500;

    &[disabled] {
        opacity: 0.5;
    }
}






