@import 'variables.css';
@import 'header.css';
@import 'searches_filter.css';
@import 'listing_filter.css';
@import 'listing_card.css';
@import 'detail.css';
@import 'jobnames_filter.css';
@import 'modal.css';
@import 'modal_searches.css';
@import 'age_filter.css';
@import 'chart.css';

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--page-bg);
    color: var(--text-color);
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.page {
    padding-top: 120px;
    display: flex;

    .list {
        width: 30vw;
        transform: translateX(20vw);
    }
}

button {
    background: var(--color-primary);
    border: none;
    font-family: var(--font-family), serif;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 500;

    &[disabled] {
        opacity: 0.5;
    }
}

select {
    appearance: none;
    -webkit-appearance: none; /* Remove style Chrome */
    -moz-appearance: none; /* Remove style FireFox */
    color: var(--text-color);
    border: 1px solid var(--light-border-color);
    background-color: var(--light-med-bg);
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

select {
    option {
        appearance: none;
        -webkit-appearance: none; /* Remove style Chrome */
        -moz-appearance: none; /* Remove style FireFox */
        margin: 0;
        padding: 0;
        border-bottom: var(--light-border-color);
        border-radius: initial;
        background-color: var(--light-med-bg);
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary);
        }
    }

}




