@import 'variables.css';
@import 'searches_filter.css';
@import 'listing_filter.css';
@import 'listing_card.css';
@import 'detail.css';
@import 'jobnames_filter.css';
@import 'modal.css';
@import 'age_filter.css';

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--page-bg);
    color: var(--text-color);
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


header {
    position: fixed;
    background-color: var(--page-bg);
    width: 100%;
    border-bottom: 1px solid var(--light-bg);
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 100px;
    color: var(--text-color);

    h1 {
        color: var(--text-color);
        padding: 0 20px;
        margin: 10px 0 0 0;
        text-transform: uppercase;
        font-size: 22px;
    }

    .search-input {
        padding: 10px 0;
        margin: auto;
        width: 30vw;

        input {
            color: var(--text-color);
            border: 1px solid var(--light-border-color);
            background-color: var(--light-med-bg);
            padding: 8px;
            border-radius: 6px;
            display: block;
            width: 100%;
            text-align: center;

        }
    }

    .toggle-day-night {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        background-color: var(--light-border-color);
        padding: 2px 15px 2px 40px;
        display: inline-block;
        height: 20px;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        border-radius: 10px;


        input {
            appearance: none;
            cursor: pointer;

            &:before {
                visibility: visible;
                position: absolute;
                top: 2px;
                left: 2px;
                border-radius: 10px;
                content: "";
                display: block;
                width: 40px;
                height: 20px;
                overflow: hidden;
                background-color: var(--color-primary);
            }

            &:after {
                visibility: visible;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 10px;
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                overflow: hidden;
                background-color: var(--page-bg);
                transition: left 0.1s ease-in-out;
            }

            &:checked:after {
                left: 21px;
                transition: left 0.1s ease-in-out;
            }
        }
    }
}


.page {
    padding-top: 120px;
    display: flex;

    .list {
        width: 30vw;
        transform: translateX(20vw);
    }
}


#open-modal {

}


button {
    background: var(--color-primary);
    border: none;
    font-family: var(--font-family), serif;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 500;

    &[disabled] {
        opacity: 0.5;
    }
}

select {
    appearance: none;
    -webkit-appearance: none; /* Remove style Chrome */
    -moz-appearance: none; /* Remove style FireFox */
    color: var(--text-color);
    border: 1px solid var(--light-border-color);
    background-color: var(--light-med-bg);
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

select {
    option {
        appearance: none;
        -webkit-appearance: none; /* Remove style Chrome */
        -moz-appearance: none; /* Remove style FireFox */
        margin: 0;
        padding: 0;
        border-bottom: var(--light-border-color);
        border-radius: initial;
        background-color: var(--light-med-bg);
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary);
        }
    }

}




