@import 'variables.css';
@import 'searches_filter.css';
@import 'listing_filter.css';
@import 'listing_card.css';
@import 'detail.css';

body {
    font-family: var(--font-family);
    color: #111;
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


header {
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #bbb;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 100px;

    h1 {
        color: black;
        padding: 0 20px;
        margin: 10px 0 0 0;
        text-transform: uppercase;
        font-size: 22px;
    }

    .search-input {
        padding: 10px 0;
        margin: auto;
        width: 30vw;

        input {
            padding: 8px;
            border: 1px solid #bbb;
            border-radius: 6px;
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}



.page {
    padding-top: 120px;
    display: flex;

    .list {
        width: 30vw;
        transform: translateX(20vw);
    }
}

#modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    h2 {
        font-size: 20px;
        margin-top: 0;
    }
}

#modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 900px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 2000;
    position: relative;
}

.searches-actions {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#open-modal {

}

#close-modal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    background-color: #999;
}




.search-dataset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    position: relative;

    input {
        display: inline-block;
        margin: 0;
        padding: 6px;
        font-family: var(--font-family);

        &:nth-child(1), &:nth-child(2) {
            width: 15%;
        }

        &:nth-child(3), &:nth-child(4) {
            width: 10%;
            text-align: center;
        }
    }

    .search-actions {
        display: inline-block;
        right: 10px;

        button {
            background: var(--color-primary);
            border: none;
            font-family: var(--font-family);
            border-radius: 3px;
            cursor: pointer;
            color: white;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

button {
    background: var(--color-primary);
    border: none;
    font-family: var(--font-family), serif;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 500;

    &[disabled] {
        opacity: 0.5;
    }
}






